.header {
  padding: 10px 0;
  background: #bae7ff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__in {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
}
.navigation__item {
  padding: 5px 10px;
}
.navigation__link {
  color: #096dd9;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 10px;
}

.menu {
  display: flex;
}

.menuIcon {
  width: 30px;
  height: 30px;
  align-self: center;
}

.content {
  padding-top: 100px;
}
