.button {
  padding: 10px 25px;
  margin: auto;
  margin-top: 10px;
  display: block;
  border: 1px solid #0050b3;
  color: #0050b3;
  width: 200px;
  text-transform: uppercase;
  background-color: #bae7ff;
}
