.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

svg {
  stroke-dasharray: 269.7405090332px;
  stroke-dashoffset: 0;
  animation: heartBeat 10s linear reverse infinite;
  transform: rotate(-90deg);
}
@keyframes heartBeat {
  50% {
    stroke-dashoffset: 269.7405090332px;
  }
  50.01% {
    stroke-dashoffset: -269.7405090332px;
  }
}
